<div class="dash-container">
    <h1 class="tech-logo">Dashboard</h1>

    <div class="currentPostList-container">
        {{#each posts}}
        <a href="/post/{{id}}">
            <button class="btn btn-primary userPostList" type="submit"data-post-id="{{id}}">{{title}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                 Post By: {{user.name}}  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; {{format_date post_date}}</button>
        </a>
        {{/each}}
    </div>
    <div class="post-content-container"></div>

    <div class="createPost-container"></div>

    <button class="createPost btn btn-primary " type="submit">Create Post</button>
</div>

<script src="/js/createPost.js"></script>
<script src="/js/editPost.js"></script>