<div class="home-container">
    <h1 class="tech-logo">The Tech Blog</h1>
    
    <!-- Needs to autoGenerate --> 
  <div class="dash-sub-container">
    
    {{#each posts}}
            <a href='/comment/{{id}}' class="createComment btn btn-primary userPostList" type="submit">{{title}}  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Post By: {{user.name}} &nbsp; &nbsp; &nbsp; {{format_date post_date}}<p class="homePagePostDesc">{{description}}</p></a>
        {{/each}}
      </div>
      
   </div>
  
    
</div>
<script src="/js/addComment.js"></script>